@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050505;
    color: #ffffff;
    overscroll-behavior: none;
  }
}

/* Custom Ultra-Thin Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
